body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    height: 25px;
    width: 25px;
}

th {
    background-color: #f2f2f2;
    color: #333;
}