.triangle {
    border-style: solid;
    width: 0;
    margin: 10px auto;
}

.square {
    border: 5px solid crimson;
    margin: 10px auto;
}

img {
    display: block;
    max-width: 50px;
    margin: 10px auto;
}

.bmi {
    font-family: Calibri, Arial, sans-serif;
}

.exercise {
    direction: ltr;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}