.buttons {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

button {
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

.triangle {
    border-style: solid;
    width: 0;
    margin: 10px auto;
}

.square {
    border: 5px solid crimson;
    margin: 10px auto;
}

img {
    display: block;
    max-width: 50px;
    margin: 10px auto;
}

button img {
    margin: 0;
    display: inline-block;
    height: 1.35em;
    vertical-align: middle;
}

.bmi {
    font-family: Calibri, Arial, sans-serif;
}

.exercise {
    direction: ltr;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}