.triangle {
    border-style: solid;
    border-color: transparent transparent palevioletred palevioletred;
    width: 0;
    margin: 10px auto;
}

.square {
    border: 5px solid palevioletred;
    background-color: powderblue;
    margin: 10px auto;
}

img {
    display: block;
    max-width: 50px;
    margin: 10px auto;
}